h1, h2 {
    padding-left: 50px;
    font-family: Calibri, serif;
}

.sum_input {
    width: 160px;
    height: 38px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    border-color: #8d8e91;
    font-family: Calibri, serif;
}

.select_cur {
    width: 160px;
    height: 38px;
    border-radius: 5px;
    font-size: 16px;
    border-color: #8d8e91;
    font-family: Calibri, serif;
}

.execute_button {
    margin-top: 20px;
    height: 38px;
    width: 120px;
    border-radius: 5px;
    border-color: #8d8e91;
    font-family: Calibri, serif;
}
.gray_panel, .stats-panel {
    padding: 50px;
    width: 800px;
}

.gray_panel {
    background: #eff1f5;
}

.stats-panel {
    padding-top: 20px;
    background: #e7f5da;
}

.icons {
    margin-left: 10px;
    margin-right: 10px;

    height: 20px;
    width: 20px;
    opacity: 0.5;
    vertical-align:middle;
}




